<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionnaire MDP</title>
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body>
    <form action="/login_form" method="post">
        <input type="text" placeholder="Username" name="Username" required/>
        <input type="text" placeholder="Password" name="Password" required/>
        <button type="submit">Login</button>
    </form>
</body>
</html>